" Set mapleader
let mapleader=" "

" Plugins
set surround
set multiple-cursors
set commentary
set ReplaceWithRegister
set easymotion

" Mappings
map ff <Action>(GotoFile)
map <leader>f <Plug>(easymotion-f)
map <leader>F <Plug>(easymotion-s)
map <leader>g <Action>(FindInPath)
map <leader>b <Action>(Git.Branches)
map <leader>w <Action>(SaveDocument)
map <leader>r <Action>(RefactoringMenu)
map <leader>d <Action>(Debug)

