" Set mapleader
let mapleader=" "

" Plugins
set surround
set multiple-cursors
set commentary

" Mappings
map ff <Action>(GotoFile)
map <leader>f <Action>(Find)
map <leader>g <Action>(FindInPath)
map <leader>b <Action>(Git.Branches)
map <leader>w <Action>(SaveAll)
map <leader>r <Action>(RefactoringMenu)
map <leader>d <Action>(Debug)
map <leader>n <Action>(ShowNavBar)
map <leader>e <Action>(GotoNextError)
map <leader>z <Action>(ToggleDistractionFreeMode)
map rr <Action>(RunClass)
